<!DOCTYPE html>
<html lang="en">
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="bg-dark text-light position-relative">

  <button class="btn btn-link text-white-50 p-2 position-absolute top-0 start-0 m-4 text-decoration-none custom-menu-btn" style="z-index: 1030; line-height: 1;" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
    <i class="bi bi-list" style="font-size: 3.5rem;"></i>
  </button>

  {% include "includes/_sidebar.html" %}

  <main class="p-4">
    {% block content %}{% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    .custom-menu-btn:hover {
      color: #fff !important;
      transform: scale(1.05);
      transition: all 0.2s ease-in-out;
    }
  </style>
</body>
</html>
